.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  display: block;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  height: 1.8rem;
  margin-bottom: 2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  padding: 1rem;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: 0 !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

/* CUSTOM CSS */
.cart__items {
  padding-bottom: 2rem !important;
  border-bottom: 0.2rem solid #7e7e7e !important;
}

.cart__items .cart-items thead {
  display: none;
}

.cart-items .cart-item {
  grid-template-rows: repeat(3, 0fr);
  grid-template-columns: repeat(4, 1fr);
  gap: .25rem;
  border-top: 2px solid #cdcdcd;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.cart-items .cart-item:first-child {
  border: none;
  padding-top: 0;
}

.cart-items .cart-item .cart-item__media {
  grid-row: 1 / 4;
}

.cart-items .cart-item .cart-item__details {
  grid-column: 2 / 5;
  font-family: 'Nunito', sans-serif;
}

.cart-items .cart-item .cart-item__details .cart-item__name {
  color: #4f4788;
  font-size: 2rem;
}

.cart-items .cart-item .cart-item__totals {
  grid-column: 2 / 5;
  grid-row: 2;
  justify-content: flex-start;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 2rem;
}

.cart-items .cart-item .cart-item__totals .price {
  font-weight: 500;
  font-size: 1.75rem;
}

.cart-items .cart-item .cart-item__quantity {
  grid-row: 3;
  grid-column: 2 / 5;
}

.cart-items .cart-item .cart-item__quantity .quantity {
  width: calc(16rem / var(--font-body-scale));
  height: 3.5rem;
  border: none;
}

.cart-items .cart-item .cart-item__quantity .quantity .quantity__button {
  background-color: #F2B51F;
  color: #4f4788;
  border-radius: 5px;
  width: calc(5rem / var(--font-body-scale));
}

.cart-items .cart-item .cart-item__quantity .quantity .quantity__button svg {
  width: 1.5rem;
}

.cart-items .cart-item .cart-item__quantity .quantity .quantity__input {
  border: 1px solid #454545;
  border-radius: 2px;
  margin: 0 .5rem;
  font-size: 1.5rem;
}

.cart-items .cart-item .cart-item__quantity .quantity .quantity__input,
.cart-items .cart-item .cart-item__quantity .quantity .quantity__input::placeholder {
  font-family: 'Oswald', sans-serif;
}

.cart-items .cart-item .cart-item__quantity cart-remove-button {
  height: 3.5rem;
}

.cart-items .cart-item .cart-item__quantity cart-remove-button .button {
  min-height: 3.5rem;
  min-width: 3.5rem;
}

.cart-items .cart-item .cart-item__quantity cart-remove-button .icon-remove {
  height: 3.5rem;
  width: 3.5rem;
}

.cart__footer .totals .totals__subtotal {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #454545;
  text-transform: uppercase;
}

.cart__footer .totals .totals__subtotal-value {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  color: #454545;
}

#express-checkout-sign {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4f4788;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2.5rem;
}

.additional-checkout-buttons ul[data-shopify-buttoncontainer='true'] li * {
  border-radius: 8px !important;
}

.cart__login-paragraph {
  font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 750px){
  #MainContent {
    background-color: #fafafa;
  }

  #main-cart-items.cart__items {
    border-bottom: 0 !important;

  }

  .cart__items {
    padding-bottom: 0 !important;
  }

  .cart-items {
    border-collapse: collapse !important;
  }

  .cart-items .cart-item {
    border-top: 2px solid #cdcdcd;
    /* padding-top: 2rem; */
    /* margin-bottom: 2rem; */
  }
  
  .cart-items .cart-item:first-child {
    border: none;
    padding-top: 0;
  }

  .cart-items .cart-item .cart-item__quantity cart-remove-button {
    margin: 0 0 0 1.5rem;
  }

  .cart-items .cart-item .cart-item__quantity cart-remove-button .button {
    min-height: 3.5rem;
    min-width: 3.5rem;
  }

  .cart-items .cart-item .cart-item__quantity cart-remove-button .icon-remove {
    height: 3.5rem;
    width: 3.5rem;
  }

  .cart-items .cart-item .cart-item__totals .cart-item__price-wrapper .price.price--end {
    margin-top: 0;
  }

  .cart__contents {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(0,0,0,.15);
    padding: 2rem;
  }

  .cart__footer .cart__blocks {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(0,0,0,.15);
    padding: 2rem;
  }
  
  /* .cart-item__totals .price--end {
    justify-content: flex-start;
  } */
}