.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.contact  .field__input {
  border: 2px solid #484848;
  border-radius: 5px;
  box-shadow: none !important;
}

.contact .field .field__input,
.contact .field .field__label {
  font-family: 'Roboto', sans-serif;
}

.outer-field-label {
  font-family: 'Nunito', sans-serif;
  color: #4f4788;
  font-size: 2rem;
  font-weight: 600;
  display: none;
}

#MainContent {
  background-color: #f8f8f8;
  padding-top: 5rem;
}

#MainContent section:first-child {
  display: none;
}

#contact-page-wrapper {
  background-color: #fff;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  padding: 5rem 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

#contact-form-header {
  text-align: center;
}

#contact-form-header .main-page-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#contact-page-wrapper .contact {
  margin-top: 5rem;
  margin-bottom: 0;
}

@media screen and (min-width: 990px){
 #ContactForm-body {
   min-height: 200px;
 }
}