#homepage-banner-container,
#homepage-banner-container #homepage-mobile-banner,
#homepage-banner-container #homepage-desktop-banner,
#homepage-banner-container #homepage-mobile-banner img,
#homepage-banner-container #homepage-desktop-banner img {
    width: 100%;
}

#homepage-banner-container,
#homepage-banner-container #homepage-mobile-banner,
#homepage-banner-container #homepage-mobile-banner img {
    display: block;
}

#homepage-banner-container #homepage-desktop-banner {
    display: none;
}

#homepage-banner-container #homepage-mobile-banner .shop-now-button-container {
    background-color: #001491;
    text-align: center;
    padding: 2.5rem 0;
}

#homepage-banner-container #homepage-mobile-banner .shop-now-button-container a.shop-now-button,
#homepage-banner-container #homepage-mobile-banner .shop-now-button-container a.shop-now-button:visited {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 2.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fa5d30;
    border-radius: 6px;
    padding: .75rem 1.75rem;
}

@media only screen and (min-width: 768px){
    #homepage-banner-container #homepage-mobile-banner,
    #homepage-banner-container #homepage-mobile-banner img {
        display: none;
    }

    #homepage-banner-container #homepage-mobile-banner .shop-now-button-container {
        display: none;
    }

    #homepage-banner-container #homepage-desktop-banner {
        text-align: center;
    }

    #homepage-banner-container #homepage-desktop-banner,
    #homepage-banner-container #homepage-desktop-banner img {
        display: block;
    }

    #homepage-banner-container #homepage-desktop-banner img {
        max-width: 1920px;
        margin: 0 auto;
    }
}

.shopify-section.spaced-section:not(section[id$=image_banner]) {
    margin-top: 0 !important;
    margin: 0 !important;
}

#toydrive-category-bubbles {
    display: block;
    text-align: center;
    max-width: 1920px;
    margin: 5rem auto;
}

#toydrive-category-bubbles .toydrive-category-icon-container {
    width: calc(50% - 6rem);
    padding: 1.5rem;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

#toydrive-category-bubbles .toydrive-category-icon-container:hover .toydrive-category-icon {
    filter: drop-shadow(1px 2px 3px #B2E6E4);
    -webkit-filter: drop-shadow(1px 2px 3px #B2E6E4);
}

#toydrive-category-bubbles .toydrive-category-icon-container .toydrive-category-icon {
    width: 100%;
    max-width: 100px;
}

#toydrive-category-bubbles .toydrive-category-icon-container .toydrive-category-title {
    width: 100%;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color: #32bdb6;
    font-weight: bolder;
    margin: 0;
}

@media screen and (min-width: 768px){
    #toydrive-category-bubbles .toydrive-category-icon-container {
        width: calc(25% - 6rem);
        padding: 3rem;
    }

    #toydrive-category-bubbles .toydrive-category-icon-container .toydrive-category-title {
        font-size: 2rem;
    }
}

#banner-bottom-text {
    display: block;
    width: 100%;
    text-align: center;
    margin: 3rem auto;
    padding: 0 3rem;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #32bdb6;
}

#toydrive-product-grid-header {
    display: block;
    width: 100%;
    margin: 0 auto 2rem;
    text-align: center;
}

#icon-attribution {
    font-family:'Nunito', sans-serif;
    color:#bababa;
    text-align: center;
    font-size: 1rem;
    margin: 3rem 0 1rem;
}

#icon-attribution a,
#icon-attribution a:visited {
    color: #bababa !important;
}